<div class="contenedor"></div>

<form>
	<div class="contenedor-white"></div>
		<h1>Contáctanos hoy</h1>
		<label for="nombre" class="labelNombre">Nombre</label>
		<input type="text" class="inputNombre" />
		<label for="apellido" class="labelApellido">Apellido</label>
		<input type="text" class="inputApellido" />
		<label for="correo" class="labelCorreo">Correo electrónico</label>
		<input type="text" class="inputCorreo" />
		<label for="telefono" class="labelTelefono">Telefono</label>
		<input type="text" class="inputTelefono" />
		<label for="mensaje" class="labelMensaje">Mensaje</label>
		<textarea class="inputMensaje" rows="10" cols="50"></textarea>
		<button class="btnContacto"><span>Contactar</span></button>
</form>	

<h1 class="tituloContacto">Información de contacto</h1>
<h3 class="tituloCorreo">Escríbenos</h3>
<h5 class="correo">correo@clubify.cl</h5>
<h3 class="tituloTelefono">Llámanos</h3>
<h5 class="telefono">(+56 9) 1233 4567 / (+56 9) 1234 5678</h5>
<h3 class="tituloDireccion">Encuéntranos</h3>
<h5 class="direccion">Direción 1234, Santiago, Región metropolitana, Chile</h5>
<h1 class="tituloRedesSociales">Nuestras Redes Sociales</h1>
<div class="instagram"></div>
<div class="facebook"></div>
<div class="twitter"></div>
<div class="email"></div>