<div class="content">
<div class="preTitle">CONOCE LA PLATAFORMA</div>
<div class="title">La gestión de convenios más completa</div>
<div class="subTitle">Nuestra Plataforma de Administración se compone de distintos módulos que te permitirán gestionar todas las funcionalidad de tu club de beneficios</div>
</div>
<div class="modulo1"></div>
<div class="modulo2"></div>
<div class="modulo3"></div>
<div class="imgModulo3"></div>
<div class="modulo4"></div>
<div class="modulo5"></div>
<div class="modulo6"></div>
<div class="modulo7"></div>
<div class="modulo8"></div>
<div class="modulo9"></div>
<div class="modulo10"></div>
<div class="modulo11"></div>
<div class="modulo12"></div>
