<div id="nosotros" class="imagen"></div>
<h1>Sobre nosotros</h1>
<h4>Más de 15 años creando vínculos inteligentes</h4>
<p>Somos la solución tecnológica que con una robusta Plataforma de Administración de Convenios, está orientada a la rapidez y eficiencia operacional; Asociada a la Inteligencia Artificial para detectar gustos e intereses de las personas, entregando un control completo de gestión y un valioso Business Inteligence.</p>
<div class="texto1"><li><span>Especializados en la creación y gestión de estrategias comunicacionales orientadas a la implementación de marketing directo</span></li></div>
<div class="texto2"><li><span>Integramos Inteligencia Artificial e indicadores especialos para obtener productos con un mayor nivel de usabilidad y adaptibilidad</span></li></div>