<div class="info">
	<div class="info-title"><span>Inteligencia Artificial</span> aplicada a la lealtad de tus clientes</div>
	<div class="info-content">Usamos indicadores y algoritmos para crear un club con un mayor valor, sugiriendo "Cuándo y qué" cambios deben realizarse para crear una experiencia más eficiente y completa.</div>
</div>
<div class="parrafo1"><li class="circleRed"><span>Inteligencia de negocios</span></li></div>
<div class="parrafo2"><li class="circleOrange"><span>Diseño centrado en el usuario</span></li></div>
<div class="parrafo3"><li class="circleYellow"><span>Gestión y difusión de convenios customizados</span></li></div>
<button class="contactanos"><span>Contáctanos ahora</span></button>
<button class="quienesSomos"><span>Quienes somos</span></button>
<div class="laptop"></div>