<div id="metricas" class="imgMetricas"></div>
<div class="info">
	<h3 class="preTitle">CONOCE CLUBIFY</h3>
	<h1 class="title">Somos sinónimo de Loyalty Intelligence</h1>
	<h5 class="subTitle">La primera plataforma digital de beneficios basada en Inteligencia Artificial</h5>
	<p>En nuestra plataforma tendrás acceso a:</p>
	<li class="li1"><span>El Marketplace de beneficios más grande de Latinoamérica</span></li>
	<li class="li2"><span>Acceso a métricas de la plataforma, en todo lugar y momento</span></li>
	<li class="li3"><span>Enviar campañas de marketing directo a clientes según la segmentación de tus clientes.</span></li>
	<br>
	<span class="pFinal">Todas tus acciones serán la base de conocimiento para que la plataforma aprenda y te sugiera cómo tomar las mejores decisiones.</span>
</div>
<button class="contacto"><span>Contáctanos ahora</span></button>

<div class="info2">
	<h3 class="preTitle">EL NUEVO VÍNCULO CON TUS CLIENTES</h3>
	<h1 class="title">Una plataforma segura y funcional</h1>
	<h5 class="subTitle">Establece un lazo comunicacional eficaz y duradera, realizando estrategias de Marketing refuercen el vínculo cliente-empresa</h5>
</div>
	<div class="vinculo1"></div>
	<div class="vinculo2"></div>
	<div class="vinculo3"></div>

<div class="imgMetricas2"></div>
<div class="info3">
	<h3>OBTÉN MÉTRICAS Y CONOCE AÚN MÁS TU CLIENTE</h3>
	<h1>Contamos con un completo Dashboard online</h1>
	<h5>Con más de 30 indicadores de gestión, centralizamos todo en un solo infome</h5>
	<p>Información registrada en nuestra plataforma:</p>
</div>
	<li class="li4"><span>Información de visitas al Sitio Web</span></li>
	<li class="li5"><span>Descargas de la aplicación móvil</span></li>
	<li class="li6"><span>% de engagement por categoría</span></li>
	<li class="li7"><span>Evolución de miembros únicos del club</span></li>
	<li class="li8"><span>Tiempo de permanencia</span></li>
	<li class="li9"><span>Visitas desde la aplicación</span></li>
	<li class="li10"><span>Heavy users</span></li>
	<li class="li11"><span>Mapa de cobertura geográfico por locales adheridos al programa</span></li>
	<li class="li12"><span>Utilización de beneficios</span></li>
	<li class="li13"><span>Cantidad de convenios activos</span></li>
	<li class="li14"><span>Top 10 de los convenios con más engagement</span></li>
	
<div class="imgMetricas3"></div>
<div class="info4">
	<h3>GESTOR DE CAMPAÑA</h3>
	<h1>Segmentador & Gestor de campañas</h1>
	<h5>Ejecuta de forma completa tus estrategias de marketing</h5>
	<p>Un modulo exclusivo dentro de la plataforma para realizar comunicaciones de marketing directo a grupos objetivos y clusters de clientes a través de medios online como:</p>
</div>
<li class="li15"><span>eMail</span></li>
<li class="li16"><span>SMS</span></li>
<li class="li17"><span>WhatsApp</span></li>
<li class="li18"><span>RRSS</span></li>
<li class="li19"><span>Push notifications</span></li>