/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 6902px;
	background: #FFFEFC 0% 0% no-repeat padding-box !important;
	opacity: 1;
	zoom:87%;
}

.btnFlotante{
	position:absolute;
	top: 836px;
	left: 1690px;
	width: 90px;
	height: 90px;
	background: transparent url('/assets/img/Grupo 1346.png') 0% 0% no-repeat padding-box;
	opacity: 1;
	
}
